<form action="" class="d-flex justify-content-center m-3 input-group">
  <input type="search" class="p-2" name="search-bar" id="" placeholder="Search Books">
  <button type="button" class="btn btn-dark">
    <i class="fas fa-search"></i>
  </button>
</form>
<section class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th> 
        <th># Pages</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let books of book | async">
        <td>{{ books.id }}. {{ books.title }}</td>
        <td>{{ books.author }}</td>
        <td>{{ books.pages }}</td>
        <td><i class='fas fa-trash-alt'></i>
        </td>

      </tr>
    </tbody>
  </table>

</section>
<section class="d-flex justify-content-center">
  <button class="btn btn-dark ">
    <i class="fas fa-book-open"></i>
    Add Book
  </button>
</section>