<form action="">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author" name="author" required>
    </div>
    <div class="form-group">
        <label for="numBooks">Number of Books</label>
        <input type="number" class="form-control" id="pages" name="numBooks" required>
    </div>
    <button type="submit" class="btn">Add Book</button>
</form>